

<html>
  <head>
    <link rel="stylesheet" href="https://newgaenolram-hourensou.c9users.io/css/stylesheet-show.css">
  </head>
  <body>
    <div class="container">
      <div class="layer">
        <div class="buttons">
          <div class="button">
            <%= link_to 'Back', asks_path %>
          </div>
          <div class="button">
            <%= link_to 'Edit', edit_ask_path(@ask) %>
          </div>
          <div class="button">
            <%= link_to 'Destroy', @ask, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
        <div class="article">
          <h3 class="title"><%= @ask.title %></h3>
          <hr>
          <div class="article-content">
            <center><%= @ask.content %>
          </div>
          <hr>
          
        </div>
      </div>
      
      		
      	
    </div>
  </body>
</html>